@charset "utf-8";
/* CSS Document */

@import 'https://fonts.googleapis.com/css?family=Homemade+Apple|Reenie+Beanie|Cabin';

@font-face {
	font-family: 'Homemade Apple local', cursive;
	src: url("../assets/fonts/Homemade_Apple/HomemadeApple.ttf") format('truetype');
}

@font-face {
	font-family: 'Reenie Beanie local', cursive;
	src: url("../assets/fonts/Reenie_Beanie/ReenieBeanie.ttf") format('truetype');
}

@font-face {
	font-family: 'Cabin local', cursive;
	src: url("../assets/fonts/Cabin/Cabin-Regular.ttf") format('truetype');
}

body {
	min-width:600px;
	margin: 0;
	font-family: 'Reenie Beanie', 'Reenie Beanie local', sans-serif;
  font-size: 20px;
  color: #3C3C3C;
	text-align: center;
	background: linear-gradient(#EEDCAA, #ECBD3A);
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	cursor: pointer;
}

p {
	width: 500px;
	margin: auto;
	padding: 10px;
}

.introTxt {
	font-family: 'Reenie Beanie', 'Reenie Beanie local', sans-serif;
	width: 500px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	font-size: 25px;
	padding: 250px;
}

.largerTxt {
	font-size: 28px;
	font-family: 'Homemade Apple', 'Cabin local', sans-serif;
}

.roundBtn {
	border: 6px solid #EEDCAA;
	width: 50px;
	height: 50px;
	font-family: "Reenie Beanie", "Reenie Beanie local", sans-serif;
	font-size: 30px;
  border-radius: 100%;
  background: #ECBD3A;
	cursor: pointer;
	position: fixed;
	top: 80%;
	left: 48%;
	display: inline-block;
}
.roundBtn:hover {
    border: 6px solid #F2E5BF;
}
.roundBtn:active {
    background: #CFA533;
		border: 6px solid #F2E5BF;
}

#upBtn {
	position: absolute;
	top: 10px;
	left: 2px;
}

.hidden {
	display: none;
	opacity: 0;
}

.lineAnim {
	padding: 10px;
}

.text {
	padding-bottom: 150px;
	font-family: "Cabin", "Cabin local", sans-serif;
	font-size: 15px;
	width: 500px;
	margin: auto;
}

#warped {
	margin: auto;
	left: -10px;
	top: 60px;

	-webkit-animation-name: spin;
  -webkit-animation-duration: 120000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 120000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 120000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 120000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(180deg); }
    to { -ms-transform: rotate(540deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(180deg); }
    to { -moz-transform: rotate(540deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(180deg); }
    to { -webkit-transform: rotate(540deg); }
}
@keyframes spin {
    from {
        transform:rotate(180deg);
    }
    to {
        transform:rotate(540deg);
    }
}

#warped>div {
	display: inline;
}

#menuContainer {
	padding-bottom: 200px;
}

.tailer {
	padding: 200px;
}

ul {
	text-align: left;
}

li {
	margin-bottom: 10px;
}

ul a {
	color: #002381;
}

p a:hover {
	text-shadow: 0px 0px 15px #002381;
}

p a {
	color: #002381;
}

ul a:hover {
	text-shadow: 0px 0px 15px #002381;
}

.hand {
	font-family: "Reenie Beanie", "Reenie Beanie local", sans-serif;
	font-size: 22px;
	font-weight: bold;
}

.profileTxt {
	font-family: "Reenie Beanie", "Reenie Beanie local", sans-serif;
	font-size: 30px;
	font-weight: bold;
}

#Attributions {
	font-family: "Reenie Beanie", "Reenie Beanie local", sans-serif;
	font-size: 20px;
}

#Attributions>p {
	width: 300px;
}
